<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PentaTrax | <%= title %></title>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
    <nav id="nav">
        <div onclick="goTo('/')" class="index">Home</div>
        <div onclick="goTo('/about')" class="about">About</div>
        <div onclick="goTo('/community')" class="community">Community</div>
        <div onclick="goTo('/contact')" class="contact">Contact</div>
    </nav>
    <%- body %>
</body>
</html>