html {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: blueviolet;
}

#nav div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}